extends layouts/main

block content
    .form-container
        form( action=`${routes.videos}${routes.upload}`, method='post' )
            label(for='file') Video File
            input( type='file', name='file', id='file' )
            input( type='text', placeholder='Title', name='title' )
            textarea( placeholder='Description', name='description' )
            input( type='submit', value='Update Video' )
        