extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h1 Searching By #{searchingBy}
    .search__videos
        if videos.length === 0
            h5 No Video File
        else
            each video in videos
                +videoBlock(video)
    
        